<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95819763861-9996b6l87o6rjr636ccu76di0kvch7pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95819763861-9996b6l87o6rjr636ccu76di0kvch7pa</string>
	<key>API_KEY</key>
	<string>AIzaSyAgWwuuvHAzuKURW3eT7GziEMigVFIV-kY</string>
	<key>GCM_SENDER_ID</key>
	<string>95819763861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danilmasnaviev.Guide</string>
	<key>PROJECT_ID</key>
	<string>locator-fa52c</string>
	<key>STORAGE_BUCKET</key>
	<string>locator-fa52c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95819763861:ios:922dc7b3337bffc7aecb9c</string>
</dict>
</plist>